
body {
    font-family: Arial, sans-serif;
}

#beeswarm-chart {
    margin: 20px;
    position: relative;
}

#controls {
    margin: 20px;
}

#controls label,
#controls select,
#controls button {
    margin-right: 10px;
}

.description {
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Centering the main content */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Centering the main content */
.container-2 {
    width: 80%;
    margin: 0 auto;
}

/* Centering the SVG element */
#beeswarm-svg {
    display: block;
    margin: 0 auto;
}

/* Centering the control panel */
#control-panel {
    text-align: center;
}

/* Centering the SVG element */
#beeswarm-svg-2 {
    display: block;
    margin: 0 auto;
}

#control-panel-2 {
    text-align: center;
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../modified_world.svg') no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

#main-container {
    width: 100%;
    text-align: center;
}

#chart-container-1, #chart-container-2, #chart-container-3 {
    width: 30%;
    display: inline-block;
}

.bar-svg {
    width: 100%;
    height: 400px;
}

#linechart-container {
    width: 100%;
    text-align: center;
}

#linechart-container-1, #linechart-container-2, #linechart-container-3 {
    width: 30%;
    display: inline-block;
}

#piechart-container {
    width: 100%;
    text-align: center;
}

#piechart-container-1, #piechart-container-2, #piechart-container-3 {
    width: 30%;
    display: inline-block;
}


#areachart-container {
    width: 100%;
    text-align: center;
}

#areachart-container-1, #areachart-container-2, #areachart-container-3 {
    width: 30%;
    display: inline-block;
}
